<div style="display: flex">
	<div style="color: white; box-shadow: 5px 5px 5px #999999;padding: 10px; border: solid 1px green; width: 40%; text-align: center; background-image: url(../assets/img/hero.jpg);"><app-heroes></app-heroes></div>
  <div style="align-items: center; width: 20%; text-align: center"><h1 style="color: red; font-weight: bold; font-size: 100px;font-style: italic;">VS</h1></div>
	<div style="box-shadow: 5px 5px 5px #999999; padding: 10px; border: solid 1px red ;width: 40%; text-align: center; background-image: url(../assets/img/thanos.png); color: #ffffff" ><app-badboys></app-badboys></div>
</div>
