.thanos {
  box-shadow: 5px 5px 5px #999999;
  padding: 10px;
  border: solid 1px red;
  text-align: center;
  color: #ffffff;
  background-size: 100% 100%;
}
.btn-detail {
  padding: 5px;
  width: 200px;
  margin: 10px 0;
  background-color: aqua;
}

.btn-detail:hover, .btn-detail:focus {
  background-color: burlywood;
}

.selectedBadboy{
  color: red;
}
.list-badboy{
  float: right;
}
